{% include "header.html" %}


<!-- Main Content -->

<div class="container-fluid cafe-list">
    <div class="row">
        <div class="col-lg-6 col-md-8">
            <div class="about">
                <h1>About</h1>
                <hr>
                This web application project is a homework for <i>100 Days of Code: The Complete Python Pro Bootcamp for
                2022.</i>
                <ul>
                    <li>User can register and login to add or edit cafe.</li>
                    <li>Only admin user can delete a cafe.</li>
                </ul>
            </div>
            <h1>Cafe Info Descriptions</h1>
            <hr>
            <div>
                <ul>
                    <li><i class="fa-solid fa-map-location"></i>: Cafe location</li>
                    <li>Seats: How many seats available</li>
                    <li>Price: Average coffee price</li>
                    <li><i class="fa-solid fa-wifi"></i>: Has wifi</li>
                    <li><i class="fa-solid fa-plug-circle-bolt"></i>: Has socket</li>
                    <li><i class="fa-solid fa-phone"></i>: Can take phone call</li>
                    <li><i class="fa-solid fa-restroom"></i>: Has toilet</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
