{% include "header.html" %}


<!-- Cafe List Starts -->
<div class="container-fluid cafe-list">
    <div class="row">
        {% for cafe in all_cafes %}
        <div class="col-lg-6 col-md-8">
            <div>
                <ul class="list-inline">
                    <li class="list-inline-item"><h1>{{ cafe.name }}</h1></li>
                    <li class="list-inline-item">{{ cafe.location }}</li>
                    <li class="list-inline-item"><a href="{{ cafe.map_url }}"><i
                            class="fa-solid fa-map-location"></i></a></li>
                    {% if current_user.id %}
                    <li class="list-inline-item"><a href="{{ url_for('edit_cafe_data', cafe_id=cafe.id) }}"><i
                            class="fa-solid fa-pen-to-square"></i></a></li>
                    {% if current_user.id ==1 %}
                    <li class="list-inline-item"><a href="{{ url_for('delete_cafe_data', cafe_id=cafe.id) }}"><i class="fa-solid fa-trash-can"></i></a></li>
                    {% endif %}
                    {% endif %}
                </ul>
                <div class="img-holder">
                    <img class="cafe-img" src="{{ cafe.img_url }}">
                </div>
                <div class="data-holder">
                    <ul class="list-inline">
                        <li class="list-inline-item">Seats: {{ cafe.seats }}</li>
                        <li class="list-inline-item">Price: {{ cafe.coffee_price }}</li>
                    </ul>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            {% if cafe.has_wifi %}
                            <i class="fa-solid fa-wifi"></i>
                            {% endif %}
                            {% if cafe.has_sockets %}
                            <i class="fa-solid fa-plug-circle-bolt"></i>
                            {% endif %}
                            {% if cafe.can_take_calls %}
                            <i class="fa-solid fa-phone"></i>
                            {% endif %}
                            {% if cafe.has_toilet %}
                            <i class="fa-solid fa-restroom"></i>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="info">
                    <ul class="list-inline">
                        <li class="list-inline-item">Last updated: {{ cafe.modification_time.strftime('%Y/%m/%d-%I:%M%p') }} by {{ cafe.updated_by.name }}</li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>

{% include "footer.html" %}
